mLRS/Common/mavlink/out/*
esp/mlrs-wifi-bridge/*.cfg
esp/mlrs-wifi-bridge/*.json
esp/mlrs-wifi-bridge/*.svd
mLRS/.metadata/*
**/.settings/*
**/Release/*
**/Debug/*
*.launch
tools/build3/*
mLRS/*/Drivers/CMSIS/Include/*
mLRS/*/Drivers/CMSIS/Device/ST/*
mLRS/*/Drivers/STM32??xx_HAL_Driver/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
