mLRS/Common/mavlink/out/*
esp/mlrs-wifi-bridge/*.cfg
esp/mlrs-wifi-bridge/*.json
esp/mlrs-wifi-bridge/*.svd
mLRS/.metadata/*
mLRS/**/.settings/*
mLRS/**/Release/*
mLRS/**/Debug/*
*.launch
tools/build3/*
tools/__pycache__
mLRS/*/Drivers/CMSIS/Include/*
mLRS/*/Drivers/CMSIS/Device/ST/*
mLRS/*/Drivers/STM32??xx_HAL_Driver/*
mLRS/*/Drivers/STM32_USB_Device_Library/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Platformio
.pio/
.vscode/
