[submodule "src/modules/mavlink"]
	path = src/modules/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "src/modules/fastmavlink"]
	path = src/modules/fastmavlink
	url = https://github.com/olliw42/fastmavlink.git
[submodule "src/modules/sx12xx-lib"]
	path = src/modules/sx12xx-lib
	url = https://github.com/olliw42/sx12xx-lib.git
[submodule "src/modules/stm32ll-lib"]
	path = src/modules/stm32ll-lib
	url = https://github.com/olliw42/stm32ll-lib.git
