[submodule "mLRS/modules/mavlink"]
	path = mLRS/modules/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "mLRS/modules/fastmavlink"]
	path = mLRS/modules/fastmavlink
	url = https://github.com/olliw42/fastmavlink.git
[submodule "mLRS/modules/stm32ll-lib"]
	path = mLRS/modules/stm32ll-lib
	url = https://github.com/olliw42/stm32ll-lib.git
[submodule "mLRS/modules/sx12xx-lib"]
	path = mLRS/modules/sx12xx-lib
	url = https://github.com/olliw42/sx12xx-lib.git
[submodule "tools/st-drivers/stm32f1xx_hal_driver"]
	path = tools/st-drivers/stm32f1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
[submodule "tools/st-drivers/stm32g4xx_hal_driver"]
	path = tools/st-drivers/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
[submodule "tools/st-drivers/stm32l4xx_hal_driver"]
	path = tools/st-drivers/stm32l4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git
[submodule "tools/st-drivers/cmsis_device_f1"]
	path = tools/st-drivers/cmsis_device_f1
	url = https://github.com/STMicroelectronics/cmsis_device_f1.git
[submodule "tools/st-drivers/cmsis_device_g4"]
	path = tools/st-drivers/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
[submodule "tools/st-drivers/cmsis_device_l4"]
	path = tools/st-drivers/cmsis_device_l4
	url = https://github.com/STMicroelectronics/cmsis_device_l4.git
[submodule "tools/st-drivers/cmsis_device_wl"]
	path = tools/st-drivers/cmsis_device_wl
	url = https://github.com/STMicroelectronics/cmsis_device_wl.git
[submodule "tools/st-drivers/stm32wlxx_hal_driver"]
	path = tools/st-drivers/stm32wlxx_hal_driver
	url = https://github.com/STMicroelectronics/stm32wlxx_hal_driver.git
[submodule "tools/st-drivers/stm32f0xx_hal_driver"]
	path = tools/st-drivers/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "tools/st-drivers/cmsis_device_f0"]
	path = tools/st-drivers/cmsis_device_f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
[submodule "tools/st-drivers/cmsis_device_f3"]
	path = tools/st-drivers/cmsis_device_f3
	url = https://github.com/STMicroelectronics/cmsis_device_f3.git
[submodule "tools/st-drivers/stm32f3xx_hal_driver"]
	path = tools/st-drivers/stm32f3xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f3xx_hal_driver.git
